.btnblue { border: 1px solid #2E9AFE; background: #58ACFA; padding: 7px; color: white; }
.btnred { border: 1px solid #FE2E2E; background: #FA5858; padding: 7px; color: white; }
.btngreen { border: 1px solid #088A85; background: #04B486; padding: 7px; color: white; }
.btnorange{ border: 1px solid #FE2E2E; background: #A52A2A; padding: 7px; color: white; }
.header-fondo{ width: 100%; height: auto; background-color:#0194D4; }